<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @service.type %>
</p>

<p>
  <strong>User:</strong>
  <%= @service.user_id %>
</p>

<p>
  <strong>Servicetype:</strong>
  <%= @service.servicetype_id %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @service.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @service.enddate %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @service.cost %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
