<h1>Listing servers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Model</th>
      <th>Hd</th>
      <th>Mem</th>
      <th>Cpu</th>
      <th>Os</th>
      <th>Size</th>
      <th>Location</th>
      <th>Service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @servers.each do |server| %>
      <tr>
        <td><%= server.name %></td>
        <td><%= server.model %></td>
        <td><%= server.hd %></td>
        <td><%= server.mem %></td>
        <td><%= server.cpu %></td>
        <td><%= server.os %></td>
        <td><%= server.size %></td>
        <td><%= server.location_id %></td>
        <td><%= server.service_id %></td>
        <td><%= link_to 'Show', server %></td>
        <td><%= link_to 'Edit', edit_server_path(server) %></td>
        <td><%= link_to 'Destroy', server, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Server', new_server_path %>
