<p id="notice"><%= notice %></p>

<div class="panel">
    <h4>Services hosted on this server</h4>
    <h5>Virtual Machines</h5>
    <p>
        <% @server.virtual_machines.each do |vm| %>
            <li><%= link_to vm.hostname, virtual_machine_path(vm) %></li>
        <% end %>
    </p>
    
    <h5>Storage Space</h5>
    <p>
        <% @server.storage_spaces.each do |space| %>
            <li><%= link_to space.amount, storage_space_path(space) %></li>    
        <% end %>
    </p>
</div>

<p>
  <strong>Name:</strong>
  <%= @server.name %>
</p>

<p>
  <strong>Model:</strong>
  <%= @server.model %>
</p>

<p>
  <strong>Hd:</strong>
  <%= @server.hd %>
</p>

<p>
  <strong>Mem:</strong>
  <%= @server.mem %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @server.cpu %>
</p>

<p>
  <strong>Os:</strong>
  <%= @server.os %>
</p>

<p>
  <strong>Size:</strong>
  <%= @server.size %>
</p>

<p>
  <strong>Location:</strong>
  <%= @server.location_id %>
</p>

<%= link_to 'Edit', edit_server_path(@server) %> |
<%= link_to 'Back', servers_path %>
