<p id="notice"><%= notice %></p>

<div class="panel">
    <p>
        <strong>User:</strong>
        <%= @storage_space.service.user_id %>
    </p>
    <p>
        <strong>Start Date:</strong>
        <%= @storage_space.service.startdate %>
    </p>
    <p>
        <strong>End Date:</strong>
        <%= @storage_space.service.enddate %>
    </p>
    <p>
        <strong>Cost:</strong>
        <%= @storage_space.service.cost %>
    </p>
</div>

<p>
  <strong>Amount:</strong>
  <%= @storage_space.amount %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @storage_space.comments %>
</p>

<p>
  <strong>Server:</strong>
  <%= @storage_space.server.name %>
</p>

<%= link_to 'Edit', edit_storage_space_path(@storage_space) %> |
<%= link_to 'Back', storage_spaces_path %>
