<p id="notice"><%= notice %></p>

<div class="panel">
    <p>
        <strong>User:</strong>
        <%= @virtual_machine.service.user_id %>
    </p>
    <p>
        <strong>Start Date:</strong>
        <%= @virtual_machine.service.startdate %>
    </p>
    <p>
        <strong>End Date:</strong>
        <%= @virtual_machine.service.enddate %>
    </p>
    <p>
        <strong>Cost:</strong>
        <%= @virtual_machine.service.cost %>
    </p>
    <p>
        <strong>Payments:</strong>
        <% total = 0 %>
        <% @virtual_machine.service.payments.each do |p| %>
            <% total += p.amount %>
            <li><%= p.amount %> on <%= p.paymentdate %></li>
        <% end %>
    </p>
    <p>
        <strong>Balance:</strong>
        <%= @virtual_machine.service.cost - total %>
    </p>
    
</div>

<p>
  <strong>Hostname:</strong>
  <%= @virtual_machine.hostname %>
</p>

<p>
  <strong>Os:</strong>
  <%= @virtual_machine.os %>
</p>

<p>
  <strong>Hd:</strong>
  <%= @virtual_machine.hd %>
</p>

<p>
  <strong>Mem:</strong>
  <%= @virtual_machine.mem %>
</p>

<p>
  <strong>Cpu:</strong>
  <%= @virtual_machine.cpu %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @virtual_machine.comments %>
</p>

<p>
  <strong>Server:</strong>
  <%= @virtual_machine.server.name %>
</p>

<%= link_to 'Edit', edit_virtual_machine_path(@virtual_machine) %> |
<%= link_to 'Back', virtual_machines_path %>
